/**
 * Form Styles
 * Optimized with mixins
 */

@import '../utils/mixins';
@import '../utils/variables';

.item-form {
    font-family: $font-primary;
}

.sla-industries .sheet-header,
.sla-sheet .sheet-header {
    flex: 0 auto;
    overflow: hidden;
    @include flex-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: $margin-md;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
        margin-right: $margin-md;
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        height: 50px;
        padding: 0;
        margin: $padding-sm 0;
        border-bottom: 0;
        font-family: 'Josefin Sans', sans-serif;
        
        input {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 600;
        }
    }
}

.sla-industries .sheet-tabs,
.sla-sheet .sheet-tabs {
    flex: 0;
}

.sla-industries .sheet-body,
.sla-sheet .sheet-body,
.sla-industries .sheet-body .tab,
.sla-sheet .sheet-body .tab,
.sla-industries .sheet-body .tab .editor,
.sla-sheet .sheet-body .tab .editor {
    height: 100%;
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}
