<div class="form-group">
    <label>PV</label>
    <input type="number" name="system.pv" value="{{system.pv}}"/>
</div>

<div class="form-group">
    <label>Resist</label>
    <div class="flexrow">
        <input type="number" name="system.resistance.value" value="{{system.resistance.value}}" placeholder="Cur"/> / 
        <input type="number" name="system.resistance.max" value="{{system.resistance.max}}" placeholder="Max"/>
    </div>
</div>