<div class="flexcol full-height">
    
    <div class="main-split">
        {{!-- LEFT: SKILLS --}}
        <div class="left-col flexcol full-height">
            <div style="flex: 1; min-height: 400px;">
                {{> "systems/sla-industries/templates/partials/skills.hbs"}}
            </div>
        </div>

        {{!-- RIGHT: SECONDARY STATS (Init, Move) --}}
        <div class="right-col flexcol">
               {{> "systems/sla-industries/templates/partials/secondary.hbs"}}
        </div>
    </div>

</div>