<form class="{{cssClass}} sla-sheet" autocomplete="off">

    {{!-- ================================================= --}}
    {{!--                  HEADER & STATS STRIP               --}}
    {{!-- ================================================= --}}
    {{> "systems/sla-industries/templates/partials/header-card.hbs"}}

    <div class="stats-strip-container">
        {{> "systems/sla-industries/templates/partials/stats.hbs"}}
    </div>

    {{!-- ================================================= --}}
    {{!--                  NAVIGATION                       --}}
    {{!-- ================================================= --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="ebb">Ebb</a>
        <a class="item" data-tab="biography">Bio & Gear</a>
    </nav>

    {{!-- ================================================= --}}
    {{!--                  SHEET BODY                       --}}
    {{!-- ================================================= --}}
    <section class="sheet-body">

        {{!-- MAIN TAB --}}
        <div class="tab" data-group="primary" data-tab="main">
            {{> "systems/sla-industries/templates/partials/main-tab.hbs"}}
        </div>

        {{!-- EBB TAB --}}
        <div class="tab" data-group="primary" data-tab="ebb">
            <div class="full-height" style="padding-top: 5px;">
                {{> "systems/sla-industries/templates/partials/disciplines.hbs"}}
            </div>
        </div>

        {{!-- BIO & GEAR TAB --}}
        <div class="tab" data-group="primary" data-tab="biography">
            {{> "systems/sla-industries/templates/partials/bio-gear-tab.hbs"}}
        </div>

    </section>
</form>