{{!-- HEADER (rendered as PART) --}}
<div data-application-part="header"></div>

{{!-- NAVIGATION (rendered as PART) --}}
<div data-application-part="tabs"></div>

{{!-- SHEET BODY --}}
<section class="sheet-body">
    {{!-- TABS (rendered as PARTS - AppV2 will render tab sections directly here) --}}
    <div data-application-part="main"></div>
    <div data-application-part="ebb"></div>
    <div data-application-part="inventory"></div>
    <div data-application-part="biography"></div>
</section>