<div style="background:#1a1a25; border:1px solid #d05e1a; color:#eee; padding:5px; font-family:'Roboto Condensed';">
    <h3 style="color:#d05e1a; border-bottom:1px solid #555; margin:0 0 5px 0;">DRUG USED: {{itemName}}</h3>
    <div>{{actorName}} consumes a dose.</div>
    <div style="font-size:0.9em; color:#aaa; margin-top:5px;">
        <strong>Duration:</strong> {{duration}}<br>
        <strong>Remaining:</strong> {{remaining}}
    </div>
</div>
