<form style="color:#eee;">
    <div class="form-group">
        <label style="color:#eee;">Ammunition</label>
        <div class="form-fields">
            <input type="text" value="{{ammoName}}" disabled style="background:#333; color:#fff; border:1px solid #555;"/>
        </div>
    </div>
    
    <div class="form-group">
        <label style="color:#eee;">Attack Result (Preview)</label>
        <div class="form-fields">
            <span style="line-height: 24px; color:#fff;">{{stats.damage}} DMG / {{stats.ad}} AD</span>
        </div>
    </div>

    <div class="form-group">
        <label style="color:#eee;">Situational Modifier</label>
        <div class="form-fields">
            <input type="text" name="bonus" value="0" placeholder="+/- Mod" style="background:#333; color:#fff; border:1px solid #555;"/>
        </div>
    </div>
</form>