<div class="confirm-dialog-content">
    <h2 class="dialog-title">{{title}}</h2>
    <div class="dialog-message">{{{content}}}</div>
    <div class="dialog-buttons">
        <button type="button" data-action="no" class="no-button">{{noLabel}}</button>
        <button type="button" data-action="yes" class="yes-button">{{yesLabel}}</button>
    </div>
</div>

