<div class="sla-simple-dialog-root">
    <div class="sla-simple-dialog-inner">{{{html}}}</div>
    <div class="sla-simple-dialog-footer flexrow" style="justify-content:flex-end; gap:8px; margin-top:8px;">
        <button type="button" class="secondary" data-action="closeDialog">Cancel</button>
        <button type="button" data-action="confirmDialog"><i class="fas fa-dice-d20"></i> {{actionLabel}}</button>
    </div>
</div>
