{{!-- V2 Tab Template: Attributes Tab --}}
<section class="tab {{tabs.attributes.id}} {{tabs.attributes.cssClass}}" data-tab="{{tabs.attributes.id}}" data-group="{{tabs.attributes.group}}">
    {{> "systems/sla-industries/templates/item/parts/item-catalogue.hbs"}}
</section>

