<div class="catalogue-grid">
    {{!-- COMMON FIELDS (Shared by all physical items) --}}
    <div class="form-group">
        <label>Weight</label>
        <input type="number" name="system.weight" value="{{system.weight}}" step="0.1" />
    </div>
    <div class="form-group">
        <label>Cost</label>
        <input type="number" name="system.price" value="{{system.price}}" />
    </div>
    <div class="form-group">
        <label>Qty</label>
        <input type="number" name="system.quantity" value="{{system.quantity}}" />
    </div>

    {{!-- DYNAMIC PARTIALS --}}

    {{!-- Weapon --}}
    {{#if (eq item.type "weapon")}}
    {{> "systems/sla-industries/templates/item/parts/item-weapon.hbs"}}
    {{/if}}

    {{!-- Explosive --}}
    {{#if (eq item.type "explosive")}}
    {{> "systems/sla-industries/templates/item/parts/item-explosive.hbs"}}
    {{/if}}

    {{!-- Armor --}}
    {{#if (eq item.type "armor")}}
    {{> "systems/sla-industries/templates/item/parts/item-armor.hbs"}}
    {{/if}}

    {{!-- Magazine --}}
    {{#if (eq item.type "magazine")}}
    {{> "systems/sla-industries/templates/item/parts/item-magazine.hbs"}}
    {{/if}}

    {{!-- Drug --}}
    {{#if (eq item.type "drug")}}
    {{> "systems/sla-industries/templates/item/parts/item-drug.hbs"}}
    {{/if}}

    {{!-- Generic Item Notes (Fallback for type "item") --}}
    {{#if (eq item.type "item")}}
    <div class="form-group" style="grid-column: 1 / -1;">
        <label>Notes</label>
        <input type="text" name="system.typeNote" value="{{system.typeNote}}" />
    </div>
    {{/if}}
</div>