{{!-- Capacity --}}
<div class="form-group" style="grid-column: 1 / -1;">
    <label>Capacity</label>
    <input type="number" name="system.ammoCapacity" value="{{system.ammoCapacity}}" placeholder="10" />
</div>

{{!-- Ammo Type Selector --}}
<div class="form-group" style="grid-column: 1 / -1;">
    <label>Ammo Type</label>
    <select name="system.ammoType">
        <option value="">- Select Type -</option>
        {{selectOptions @root.config.ammoTypes selected=system.ammoType localize=false}}
    </select>
</div>

{{!-- Linked Weapon --}}
<div class="form-group" style="grid-column: 1 / -1;">
    <label>Linked:</label>
    <div class="drop-zone weapon-link {{#if system.linkedWeapon}}filled{{/if}}">
        {{#if system.linkedWeapon}}
        <b>{{system.linkedWeapon}}</b>
        <a class="remove-link"><i class="fas fa-times"></i></a>
        {{else}}
        <span class="placeholder">Drop Weapon Here</span>
        {{/if}}
    </div>
</div>