<div class="academic-paper">
    <div class="form-group line-item"><label>Rank:</label><input type="number" name="system.rank" value="{{system.rank}}"/></div>
    {{#if (eq item.type "skill")}}
    <div class="form-group line-item">
        <label>Stat:</label>
        <select name="system.stat">{{selectOptions @root.config.stats selected=system.stat}}</select>
    </div>
    {{/if}}
    {{#if (eq item.type "trait")}}
    <div class="form-group line-item"><label>Type:</label><input type="text" name="system.type" value="{{system.type}}"/></div>
    {{/if}}
    <div class="form-group line-item"><label>XP Cost:</label><input type="number" name="system.xpCost" value="{{system.xpCost}}"/></div>
</div>