<div class="academic-paper">
    <div class="form-group line-item">
        <label>Rank:</label>
        <input type="number" name="system.rank" value="{{system.rank}}" min="0" />
    </div>
    {{#if (eq item.type "skill")}}
    <div class="form-group line-item">
        <label>Stat:</label>
        {{#with (or config @root.config) as |configObj|}}
        <select name="system.stat">{{selectOptions configObj.stats selected=system.stat}}</select>
        {{/with}}
    </div>
    {{/if}}
    {{#if (eq item.type "trait")}}
    <div class="form-group line-item"><label>Type:</label><input type="text" name="system.type" value="{{system.type}}"/></div>
    {{/if}}
</div>