// Flexbox.
.sla-industries .flex-group-center,
.sla-sheet .flex-group-center,
.sla-industries .flex-group-left,
.sla-sheet .flex-group-left,
.sla-industries .flex-group-right,
.sla-sheet .flex-group-right {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sla-industries .flex-group-left,
.sla-sheet .flex-group-left {
    justify-content: flex-start;
    text-align: left;
}

.sla-industries .flex-group-right,
.sla-sheet .flex-group-right {
    justify-content: flex-end;
    text-align: right;
}

.sla-industries .flexshrink,
.sla-sheet .flexshrink {
  flex: 0;
}

.sla-industries .flex-between,
.sla-sheet .flex-between {
  justify-content: space-between;
}

.sla-industries .flexlarge,
.sla-sheet .flexlarge {
  flex: 2;
}

// Alignment styles.
.sla-industries .align-left,
.sla-sheet .align-left {
  justify-content: flex-start;
  text-align: left;
}

.sla-industries .align-right,
.sla-sheet .align-right {
  justify-content: flex-end;
  text-align: right;
}

.sla-industries .align-center,
.sla-sheet .align-center {
  justify-content: center;
  text-align: center;
}